/* =======================
*        TableFooter
* =======================*/
.bear-react-table-header__sort-button{
    color: var(--header-text-color);
    padding: 0;
}
.bear-react-table-header__sort-button[data-active=true]{
    color: var(--header-text-active-color);
}
.bear-react-table-header__sort-button svg{
    color: inherit;
    fill: currentColor;
}



