/* =======================
*        TableFooter
* =======================*/
.bear-react-table-header__sort-button{
    color: var(--header-text-color);
    padding: 0;
}
.bear-react-table-header__sort-button[data-active=true]{
    color: var(--header-text-active-color);
}
.bear-react-table-header__sort-button svg{
    color: inherit;
    fill: currentColor;
}

.bear-react-table-header__inner{
    color: var(--header-text-color);
    background-color: var(--bg-color);
    flex: 0 0 auto;
    width: 100%;
}


.bear-react-table-header__inner[data-sticky="true"]{
    position: sticky;
    top: 0;
    z-index: 5;
}



