.acrool-table[data-theme="game"] {
    --border-radius: 12px;
    --body-border-radius: 4px;
    --line-height: 42px;

    /*--tr-bg-color: #fff;*/

    background-color: #dde0ff;
    box-shadow: rgb(77, 66, 149) -1px -6px 0 1px inset;

    border: 1px solid #000;
    border-bottom-width: 2px;
    border-radius: 12px;
}

.acrool-table[data-theme="game"] table{
    padding: 10px;
    row-gap: 6px;
}


/** -------------------------------
 *             Header
 * ------------------------------ */


/** -------------------------------
 *             Body
 * ------------------------------ */
.acrool-table[data-theme="game"] tbody tr td{
    border: 1px solid #ebf7fa;
    border-top-color: #000;
    border-bottom-color: #000;

    background-color: #fff;
}
.acrool-table[data-theme="game"] tbody tr td {
    border-left: none;
}

.acrool-table[data-theme="game"] tbody tr td:last-child{
    border-right-color: #000;
    border-radius: 0 var(--body-border-radius) var(--body-border-radius) 0;
}

.acrool-table[data-theme="game"] tbody tr td:first-child{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: var(--body-border-radius) 0 0 var(--body-border-radius);
    background-color: #ebf7fa;
}

