.bear-react-table__root,
.bear-react-table__root *,
.bear-react-table__root *::before,
.bear-react-table__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.bear-react-table__root{
    --primary-color: #00a3e0;
    --bg-color: #fff;
    --text-color: #333333;
    --bg-active-color: #e6f7ff;
    --bg-hover-color: #f5f5f5;
    --border-color: #f0f0f0;
}

.bear-react-table__root.dark-theme {
    --bg-color: #38393a;
    --text-color: rgba(255, 255, 255, 0.65);
    --bg-active-color: #727373;
    --bg-hover-color: #5e5e5e;
    --border-color: rgba(255, 255, 255, 0.25);
}




.bear-react-table__root {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.bear-react-table__container {
    margin-bottom: 15px;
    min-width: 0;


    border: 1px solid rgba(0,0,0,.125);
    border-color: #343a40;
    background: #2b3035;
    color: #7d8490;
    border-radius: .55rem;
    position: relative;
    width: 100%;
}

@media print{
    .bear-react-table__container {
        border-radius: 0;
        border: none;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }
}



/* ========= reset start ============*/
.bear-react-table__root button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
    border: none;
    overflow: visible;
    text-transform: none;
}
.bear-react-table__root button:focus {
    outline: none;
}

.bear-react-table__root button,
.bear-react-table__root [type="button"]{
    -webkit-appearance: button;
}
.bear-react-table__root button:not(:disabled),
.bear-react-table__root [type="button"]:not(:disabled){
    cursor: pointer;
}
.bear-react-table__root button::-moz-focus-inner,
.bear-react-table__root [type="button"]::-moz-focus-inner{
    padding: 0;
    border-style: none;
}
.bear-react-table__root svg {overflow: hidden;vertical-align: middle;}
/* ========= reset end ============*/


.bear-react-table__content {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.bear-react-table__loading-box {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 44, 49, .9);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.bear-react-table__loading-box{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 44, 49, .9);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.bear-react-table__loading-box[data-visible=true]{
    opacity: 1;
    pointer-events: unset;
}

.bear-react-table__loading-position{
    position: absolute;
    top: 150px;
    z-index: 3;
}
.bear-react-table__loading-text{
    text-align: center;

}
.bear-react-table__loading-images{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}



.bear-react-table__not-data-desc{
    font-size: 14px;
    color: #7d8490;
}


.bear-react-table__not-data-text{
    font-size: 24px;
    color: #7d8490;
}


.bear-react-table__not-data-image{
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}


.bear-react-table__not-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.bear-react-table__item-ul{
    margin: 0;
}

.bear-react-table__item-li,
.bear-react-table-body__item-li{
    height: 37px;
    list-style: none;
    color: #9aa0ac;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #585858;

    /*padding: 0 -${config.padding}px;*/
}


.bear-react-table__item-column{
    /*user-select: none;*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    font-size: 14px;
    padding: 0 10px;
    flex-wrap: nowrap;

    word-break: break-word;
    transition: color .1s;
}

.bear-react-table__item-column[data-align="left"]{
    justify-content: flex-start;
}

.bear-react-table__item-column[data-align="center"]{
    justify-content: center;

}
.bear-react-table__item-column[data-align="right"]{
    justify-content: flex-end;

}
.bear-react-table__item-column[data-vertical="top"]{
    align-items: flex-start;
}
.bear-react-table__item-column[data-vertical="center"]{
    align-items: center;
}
.bear-react-table__item-column[data-vertical="bottom"]{
    align-items: flex-end;
}
.bear-react-table__item-column[data-col]{

}








/* bear-react-table-footer */
.bear-react-table-footer__page-limit {
    flex: 0 0 100px;
    width: 100px;
}


.bear-react-table-footer__paginate-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
}

button.bear-react-table-footer__paginate-li {
    flex: 0 0 35px;
    padding: 0 10px;
    font-size: 14px;

    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    color: #7d8490;
    background-color: #495057;
    border: 1px solid #495057;
    border-right-color: transparent;
}
button.bear-react-table-footer__paginate-li:hover{
    background-color: #d0d2d5;
    border-color: #b8bcbf;
}
button.bear-react-table-footer__paginate-li.is-active,
button.bear-react-table-footer__paginate-li.is-active:hover{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

button.bear-react-table-footer__paginate-li svg{
    color: #bdbdbd;
    fill: currentColor;
}
button.bear-react-table-footer__paginate-li:hover svg{
    color: #fff;
}


button.bear-react-table-footer__paginate-li.paginate-nav {
    padding: 0 10px;
    width: auto;
    position: relative;
    flex: 0 0 auto;
}
button.bear-react-table-footer__paginate-li.paginate-nav:first-child {
    border-radius: 4px 0 0 4px;
}
button.bear-react-table-footer__paginate-li.paginate-nav:last-child {
    border-radius: 0 4px 4px 0;
}



.bear-react-table-footer__paginate-info {
    color: #9aa0ac;
    font-size: 14px;
    margin-right: 20px;
    display: block;
    flex: 0 0 auto;
}

.bear-react-table-footer__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    height: 60px;
    flex: 0 0 60px;
}










/* header */
.bear-react-table-header__sort-button{
    color: #9aa0ac;
    padding: 0;
}

.bear-react-table-header__inner{
    color: #9aa0ac;

    position: sticky;
    top: 0;
    background-color: #2b3035;
    flex: 1 1 100%;
    width: 100%;
    z-index: 5;
}




/* body */
.bear-react-table-body__append-line {
    height: 34px;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 20px;
    z-index: 0;
}


.bear-react-table-body__inner-content {
    height: 100%;
    margin-top: 0;
    padding: 0;
    flex: 1 1 100%;
    width: 100%;
}

.bear-react-table-body__item-li {
    border-collapse: collapse;
    border-top: 1px solid #343a40;
    border-bottom: none;
    height: 57px;
    opacity: 1;
    z-index: 2;
}
.bear-react-table-body__item-li:first-child {
    border-color: transparent;
}
.bear-react-table-body__item-li:nth-of-type(2n) {
    background-color: rgba(0,0,0,.04);
}


.bear-react-table-body__item-li:last-child {
    border: none;
    background-color: #2b3035;
}
.bear-react-table-body__item-li[data-disable=true] {
    color: #6e6e6e;
    background: #232323;
}
.bear-react-table-body__item-li[data-disable=true]:nth-of-type(2n) {
    color: #939393;
    background: #232323;
}

.bear-react-table-body__item-li[data-disable=true]:hover {
    color: #fff;
    background: rgb(45, 45, 45);
}

.bear-react-table-body__split-list {
    height: 100%;
    transition: all .5s ease;
}



.bear-react-table-body__split-view {
    position: relative;
    height: 100%;
}


