/* =======================
*        TableBody
* =======================*/
.bear-react-table-body__append-line {
    font-size: 13px;
    padding-bottom: 8px;
}


.bear-react-table-body__inner-content {
    height: 100%;
    margin-top: 0;
    padding: 0;
    flex: 1 1 100%;
    width: 100%;
}

.bear-react-table-body__item-li {
    border-collapse: collapse;
    border-top: 1px solid var(--border-color);
    border-bottom: none;
    height: var(--body-li-height);
    opacity: 1;
    z-index: 2;
}

.bear-react-table-body__item-li[role="button"]:not([data-disabled="true"]) {
    cursor: pointer;
}



.bear-react-table-body__item-li:first-child {
    border-color: transparent;
}
.bear-react-table-body__item-li:nth-of-type(2n) {
    background-color: rgba(0,0,0,.04);
}


.bear-react-table-body__item-li[data-disabled="true"],
.bear-react-table-body__item-li[data-disabled="true"]:nth-of-type(2n) {
    color: var(--disabled-text-color);
    background: var(--disabled-bg-color);
}
.bear-react-table-body__item-li[data-disabled="true"]:hover,
.bear-react-table-body__item-li:hover{
    background: var(--item-li-hover-bg-color);
    color: var(--item-li-hover-text-color);
}

.bear-react-table-body__split-list {
    height: 100%;
    transition: all .5s ease;
}

.bear-react-table-body__split-view {
    position: relative;
    height: 100%;
}
