
%light-theme {
    --line-height: 50px;
    --border-radius: .4rem;

    --grid-template: 1fr;
    --grid-gap: 0;
    --grid-column-span: 1;

    --default-primary-color: #535bf2;
    --default-primary-contrast-color: #fff;

    --bg-color: #fff;
    --text-color: #000;
    --sort-column: #000;
    --text-contrast-color: #fff;
    --page-text-color: rgb(170, 170, 170);
    --page-bg-color: #efefef;
    --page-bg-hover-color: #dedede;

    --border-color: rgb(233, 233, 233);
    --header-border-color: var(--border-color);
    --cell-border-color: #9ca3af;

    --tr-bg-color: #fff;
    --tr-bg-hover-color: #f1f1f1;
    --tr-even-bg-color: rgb(243, 247, 249);
    --tr-even-bg-hover-color: rgb(236, 236, 236);
}

%dark-theme{
    --bg-color: #2b3035;
    --text-color: rgb(154, 160, 172);
    --text-contrast-color: #fff;
    --sort-column: #fff;

    --page-text-color: rgb(125, 132, 144);
    --page-bg-color: #495057;
    --page-bg-hover-color: #6b7279;

    --border-color: #343a40;
    --header-border-color: #585858;
    --cell-border-color: #4d4d4d;

    --tr-bg-color: #2b3035;
    --tr-bg-hover-color: #1f1f1f;
    --tr-even-bg-color: #262a2e;
    --tr-even-bg-hover-color: #1f1f1f;
}
