.bear-react-table__root,
.bear-react-table__root *,
.bear-react-table__root *::before,
.bear-react-table__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.bear-react-table__root{

    --body-line-height: 40px;
    --header-line-height: var(--body-line-height);
    --footer-line-height: var(--body-line-height);
    --border-radius: .4rem;

    --grid-template: 1fr;
    --grid-gap: 0;
    --grid-column-span: 1;

    --default-primary-color: #535bf2;
    --default-primary-contrast-color: #fff;

    --bg-color: #fff;
    --text-color: #000;
    --text-contrast-color: #fff;
    --page-text-color: rgb(170, 170, 170);
    --page-bg-color: #efefef;
    --page-bg-hover-color: #dedede;

    --border-color: rgb(233, 233, 233);
    --header-border-color: var(--border-color);

    --tr-odd-bg-color: rgb(243, 247, 249);
    --tr-odd-bg-hover-color: rgb(236, 236, 236);
    --tr-even-bg-color: #fff;
    --tr-even-bg-hover-color: #f1f1f1;
}

.bear-react-table__root.dark-theme {
    --bg-color: #2b3035;
    --text-color: rgb(154, 160, 172);
    --text-contrast-color: #fff;

    --page-text-color: rgb(125, 132, 144);
    --page-bg-color: #495057;
    --page-bg-hover-color: #6b7279;

    --border-color: #343a40;
    --header-border-color: #585858;

    --tr-odd-bg-color: #2b3035;
    --tr-odd-bg-hover-color: #1f1f1f;
    --tr-even-bg-color: #2b3035;
    --tr-even-bg-hover-color: #1f1f1f;

    --tr-hover-bg-color: #1f1f1f;
    --tr-border-color: #585858;
    --tr-bg-even-color: rgba(0,0,0,.04);
}


.bear-react-table__root {
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
    text-align: left;
}

.bear-react-table__root table {
    min-width: 0;
    position: relative;
    width: 100%;

    padding: 0;

    display: flex;
    flex-direction: column;
}

@media print{
    .bear-react-table__root table {
        border-radius: 0;
        border: none;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }
}







/** -------------------------------
 *             Common
 * ------------------------------ */
.bear-react-table__root tr{
    border-bottom: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: var(--grid-template);
    grid-auto-flow: column dense;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: var(--grid-gap);
    background-color: var(--bg-color);
}

.bear-react-table__root thead tr,
.bear-react-table__root tbody tr,
.bear-react-table__root tfoot tr{
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 0 var(--grid-gap);
}

.bear-react-table__root td,
.bear-react-table__root th{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: var(--text-color);
    font-size: 14px;
}

.bear-react-table__root td[data-align="left"],
.bear-react-table__root th[data-align="left"]{
    justify-content: flex-start;
    text-align: left;
}

.bear-react-table__root td[data-align="center"],
.bear-react-table__root th[data-align="center"]{
    justify-content: center;
    text-align: center;
}


.bear-react-table__root td[data-align="right"],
.bear-react-table__root th[data-align="right"]{
    justify-content: flex-end;
    text-align: right;
}


.bear-react-table__root td[data-vertical="top"],
.bear-react-table__root th[data-vertical="top"]{
    align-items: flex-start;
}


.bear-react-table__root td[data-vertical="center"],
.bear-react-table__root th[data-vertical="center"]{
    align-items: center;
}

.bear-react-table__root td[data-vertical="bottom"],
.bear-react-table__root th[data-vertical="bottom"]{
    align-items: flex-end;
}


/** -------------------------------
 *             Header
 * ------------------------------ */
.bear-react-table__root thead tr{
    height: var(--header-line-height);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 1px solid var(--border-color);
    border-bottom-color: var(--header-border-color);
}


.bear-react-table__root thead[data-sticky]{
    position: sticky;
    top: 0;
    z-index: 5;
}

.bear-react-table__root thead th[data-enable-sort]{
    position: relative;
    padding-right: 12px;
    cursor: pointer;
}

.bear-react-table__root thead th[data-enable-sort]:before,
.bear-react-table__root thead th[data-enable-sort]:after{
    position: absolute;
    font-size: 12px;
    opacity: .225;
    right: 0;
    line-height: 9px;
}
.bear-react-table__root thead th[data-enable-sort]:before{
    bottom: 50%;
    content: '▲';
}
.bear-react-table__root thead th[data-enable-sort]:after{
    top: 50%;
    content: '▼';
}
.bear-react-table__root thead th[aria-sort="ascending"]:after,
.bear-react-table__root thead th[aria-sort="descending"]:before{
    opacity: .8;
}



/** -------------------------------
 *             Body
 * ------------------------------ */
.bear-react-table__root tbody{
    margin: 0;
}

.bear-react-table__root tbody tr{
    height: var(--body-line-height);
    border-radius: 0
}
.bear-react-table__root tbody tr[role="button"]{
    cursor: pointer;
}

.bear-react-table__root:not([data-header]) tbody tr:first-child{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.bear-react-table__root:not([data-footer]) tbody tr:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.bear-react-table__root tbody tr[data-nth-type="odd"] {
    background-color: var(--tr-odd-bg-color);
}
.bear-react-table__root tbody tr[data-nth-type="odd"]:hover {
    background-color: var(--tr-odd-bg-hover-color);
}
.bear-react-table__root tbody tr[data-nth-type="even"] {
    background-color: var(--tr-even-bg-color);
}
.bear-react-table__root tbody tr[data-nth-type="even"]:hover {
    background-color: var(--tr-even-bg-hover-color);
}
.bear-react-table__root td{
    grid-column: span var(--grid-column-span)
}

.bear-react-table__root tbody[data-loading] td,
.bear-react-table__root tbody[data-no-data] td{
    align-items: center;
    justify-content: center;

}

.bear-react-table__root tbody[data-loading] tr,
.bear-react-table__root tbody[data-no-data] tr{
    min-height: 65px;
}

.bear-react-table__loading-text{
    text-align: center;
}

.bear-react-table__not-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 65px;
}

.bear-react-table__not-data-desc{
    font-size: 14px;
    color: var(--text-color);
}

.bear-react-table__not-data-title{
    font-size: 20px;
    color: var(--text-color);
}



/** -------------------------------
 *             Footer
 * ------------------------------ */
.bear-react-table__root tfoot tr{
    height: var(--footer-line-height);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}


/** -------------------------------
 *             Paginate
 * ------------------------------ */
.bear-react-table__paginate{
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    column-gap: .5rem;
    margin-top: 1.2rem;
}
.bear-react-table__paginate-info{
    text-align: left;
}
.bear-react-table__paginate-limit{
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 8px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--bg-color);
}
.bear-react-table__paginate-limit:focus {
    outline: 0;
    box-shadow: none;
}


.bear-react-table__paginate-page-ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
}
.bear-react-table__paginate-page-li,
.bear-react-table__paginate-page-picker,
.bear-react-table__paginate-page-nav{
    border-radius: 0;
    outline: none;
    -webkit-appearance: button;

    flex: 0 0 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    font-size: 12px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page-text-color);
    background-color: var(--page-bg-color);
    border: none;
}
.bear-react-table__paginate-page-li:hover,
.bear-react-table__paginate-page-picker:hover,
.bear-react-table__paginate-page-nav:hover{
    color: var(--text-contrast-color);
    background-color: var(--page-bg-hover-color);
    border: none;
}
.bear-react-table__paginate-page-li:focus,
.bear-react-table__paginate-page-nav:focus{
    outline: none;
}

.bear-react-table__paginate-page-li[data-active]{
    color: var(--primary-contrast-color, var(--default-primary-contrast-color));
    background-color: var(--primary-color, var(--default-primary-color));
}

.bear-react-table__paginate-page-picker{
    color: #bdbdbd;
}
.bear-react-table__paginate-page-picker,
.bear-react-table__paginate-page-nav{
    padding: 0 10px;
    width: auto;
    flex: 0 0 auto;
}
.bear-react-table__paginate-page-picker select{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.bear-react-table__paginate-page-picker:disabled select{
    pointer-events: none;
}
.bear-react-table__paginate-page-nav:first-child{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.bear-react-table__paginate-page-picker:last-child{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}



