.bear-react-table__root,
.bear-react-table__root *,
.bear-react-table__root *::before,
.bear-react-table__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.bear-react-table__root{

    --line-height: 50px;
    --border-radius: .4rem;

    --grid-template: 1fr;
    --grid-gap: 0;
    --grid-column-span: 1;

    --default-primary-color: #535bf2;
    --default-primary-contrast-color: #fff;

    --bg-color: #fff;
    --text-color: #000;
    --text-contrast-color: #fff;
    --page-text-color: rgb(170, 170, 170);
    --page-bg-color: #efefef;
    --page-bg-hover-color: #dedede;

    --border-color: rgb(233, 233, 233);
    --header-border-color: var(--border-color);
    --cell-border-color: #9ca3af;

    --tr-bg-color: #fff;
    --tr-bg-hover-color: #f1f1f1;
    --tr-even-bg-color: rgb(243, 247, 249);
    --tr-even-bg-hover-color: rgb(236, 236, 236);
}

.bear-react-table__root.dark-theme {
    --bg-color: #2b3035;
    --text-color: rgb(154, 160, 172);
    --text-contrast-color: #fff;

    --page-text-color: rgb(125, 132, 144);
    --page-bg-color: #495057;
    --page-bg-hover-color: #6b7279;

    --border-color: #343a40;
    --header-border-color: #585858;
    --cell-border-color: #4d4d4d;

    --tr-bg-color: #2b3035;
    --tr-bg-hover-color: #1f1f1f;
    --tr-even-bg-color: #262a2e;
    --tr-even-bg-hover-color: #1f1f1f;
}


.bear-react-table__root {
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
    text-align: left;
}

.bear-react-table__root table {
    min-width: 0;
    position: relative;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    padding: 0;

    display: grid;
    border-collapse: collapse;
    grid-template-columns: var(--grid-template);
    grid-template-rows: 1fr;

    overflow: auto; /* overflow mode; */
}
.bear-react-table__root[data-sticky] table {
    overflow: unset;
}

@media print{
    .bear-react-table__root table {
        border-radius: 0;
        border: none;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }
}




/** -------------------------------
 *             Reset
 * ------------------------------ */
.bear-react-table__root table th,
.bear-react-table__root table td {
    border: none;
}



/** -------------------------------
 *             Common
 * ------------------------------ */
.bear-react-table__root thead,
.bear-react-table__root tbody,
.bear-react-table__root tfoot,
.bear-react-table__root tr {
    display: contents;
}
.bear-react-table__root th,
.bear-react-table__root td{
    background-color: var(--bg-color);
}

.bear-react-table__root thead th,
.bear-react-table__root tfoot td,
.bear-react-table__root tbody td,
.bear-react-table__root tbody th{
    padding: 0 var(--grid-gap);
    grid-column: auto / span var(--grid-column-span);
}
.bear-react-table__root[data-vertical-border] td:not(:last-child),
.bear-react-table__root[data-vertical-border] th:not(:last-child){
    border-right: 1px solid var(--border-color);
}

.bear-react-table__root thead th,
.bear-react-table__root tfoot td,
.bear-react-table__root tbody td,
.bear-react-table__root tbody th{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--border-color);

    color: var(--text-color);
    font-size: 14px;
}

.bear-react-table__root td[data-align="left"],
.bear-react-table__root th[data-align="left"]{
    justify-content: flex-start;
    text-align: left;
}

.bear-react-table__root td[data-align="center"],
.bear-react-table__root th[data-align="center"]{
    justify-content: center;
    text-align: center;
}


.bear-react-table__root td[data-align="right"],
.bear-react-table__root th[data-align="right"]{
    justify-content: flex-end;
    text-align: right;
}


.bear-react-table__root td[data-vertical="top"],
.bear-react-table__root th[data-vertical="top"]{
    align-items: flex-start;
}


.bear-react-table__root td[data-vertical="center"],
.bear-react-table__root th[data-vertical="center"]{
    align-items: center;
}

.bear-react-table__root td[data-vertical="bottom"],
.bear-react-table__root th[data-vertical="bottom"]{
    align-items: flex-end;
}


/** -------------------------------
 *             Header
 * ------------------------------ */
.bear-react-table__root thead th{
    height: var(--header-line-height, var(--line-height));
    border-bottom-color: var(--header-border-color);
}
.bear-react-table__root thead th:first-child{
    border-top-left-radius: var(--border-radius);
}
.bear-react-table__root thead th:last-child{
    border-top-right-radius: var(--border-radius);
}


.bear-react-table__root[data-sticky] thead th{
    position: sticky;
    top: var(--stick-top, 0);
    z-index: var(--stick-z-index, 5);
}

.bear-react-table__root thead th[data-enable-sort]{
    /*position: relative;*/
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.bear-react-table__root thead th[data-enable-sort] .bear-react-table__sort-column{
    display: flex;
}
.bear-react-table__sort-column{
    display: none;
    flex-direction: column;
    opacity: .225;
    line-height: 9px;
    font-size: 12px;
}
.bear-react-table__sort-column:before{
    content: '▲';
    margin-bottom: -5px;
}
.bear-react-table__sort-column:after{
    content: '▼';
}
.bear-react-table__root thead th[aria-sort="ascending"] .bear-react-table__sort-column:after,
.bear-react-table__root thead th[aria-sort="descending"] .bear-react-table__sort-column:before{
    opacity: .6;
}



/** -------------------------------
 *             Body
 * ------------------------------ */
.bear-react-table__root tbody{
    margin: 0;
}

.bear-react-table__root tbody tr[role="button"]{
    cursor: pointer;
}


.bear-react-table__root tbody tr th,
.bear-react-table__root tbody tr td{
    background-color: var(--tr-bg-color);
}
.bear-react-table__root:not([data-cell])[data-hover] tbody tr:hover th,
.bear-react-table__root:not([data-cell])[data-hover] tbody tr:hover td{
    background-color: var(--tr-bg-hover-color);
}
.bear-react-table__root[data-odd-even] tbody tr[data-nth-type="even"] td{
    background-color: var(--tr-even-bg-color);
}
.bear-react-table__root:not([data-cell])[data-odd-even][data-hover] tbody tr[data-nth-type="even"]:hover td{
    background-color: var(--tr-even-bg-hover-color);
}
.bear-react-table__root tbody th,
.bear-react-table__root tbody td{
    height: var(--body-line-height, var(--line-height));
    font-weight: normal;
}
.bear-react-table__root:not([data-cell]) tbody tr th{
    background-color: var(--tbody-th-bg-color, var(--tr-bg-color));
    color: var(--tbody-th-color);
}
.bear-react-table__root:not([data-cell])[data-hover] tbody tr:hover th{
    background-color: var(--tbody-th-bg-color, var(--tr-bg-hover-color));
    color: var(--tbody-th-color);
}
.bear-react-table__root:not([data-cell])[data-odd-even] tbody tr[data-nth-type="even"] th{
    background-color: var(--tbody-th-bg-color, var(--tr-even-bg-color));
    color: var(--tbody-th-color);
}
.bear-react-table__root:not([data-cell])[data-hover][data-odd-even] tbody tr[data-nth-type="even"]:hover th{
    background-color: var(--tbody-th-bg-color, var(--tr-even-bg-hover-color));
}


.bear-react-table__root tbody[data-loading] td,
.bear-react-table__root tbody[data-no-data] td{
    align-items: center;
    justify-content: center;

}

.bear-react-table__root tbody[data-loading] tr,
.bear-react-table__root tbody[data-no-data] tr{
    min-height: 65px;
}

.bear-react-table__loading-text{
    text-align: center;
}

.bear-react-table__not-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 65px;
}

.bear-react-table__not-data-desc{
    font-size: 14px;
    color: var(--text-color);
}

.bear-react-table__not-data-title{
    font-size: 20px;
    color: var(--text-color);
}



/** -------------------------------
 *             Footer
 * ------------------------------ */
.bear-react-table__root tfoot td{
    height: var(--footer-line-height, var(--line-height));
    border-bottom: none;
}

.bear-react-table__root tfoot td:first-child{
    border-bottom-left-radius: var(--border-radius);
}
.bear-react-table__root tfoot td:last-child{
    border-bottom-right-radius: var(--border-radius);
}

/** -------------------------------
 *             Paginate
 * ------------------------------ */
.bear-react-table__paginate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 1.2rem;
}
.bear-react-table__paginate-info{
    text-align: center;
    margin-bottom: 10px;
    order: 3;
    white-space:nowrap;
}

.bear-react-table__paginate-limit{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: auto;
    height: 35px;
    padding: 6px 8px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--bg-color);
}
.bear-react-table__paginate-limit:focus {
    outline: 0;
    box-shadow: none;
}


.bear-react-table__paginate-page-ul{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
}
.bear-react-table__paginate-page-li,
.bear-react-table__paginate-page-picker,
.bear-react-table__paginate-page-nav{
    border-radius: 0;
    outline: none;
    -webkit-appearance: button;

    flex: 0 0 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    font-size: 12px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page-text-color);
    background-color: var(--page-bg-color);
    border: none;
}
.bear-react-table__paginate-page-nav {
    min-width: auto;
    width: 100%;
}
.bear-react-table__paginate-page-li{
    display: none;
}
.bear-react-table__paginate-page-li:not(:disabled):hover,
.bear-react-table__paginate-page-picker:not(:disabled):hover,
.bear-react-table__paginate-page-nav:not(:disabled):hover{
    color: var(--text-contrast-color);
    background-color: var(--page-bg-hover-color);
    border: none;
}
.bear-react-table__paginate-page-li:focus,
.bear-react-table__paginate-page-nav:focus{
    outline: none;
}

.bear-react-table__paginate-page-li[data-active]{
    color: var(--primary-contrast-color, var(--default-primary-contrast-color));
    background-color: var(--primary-color, var(--default-primary-color));
}

.bear-react-table__paginate-page-picker{
    color: #bdbdbd;
}
.bear-react-table__paginate-page-picker,
.bear-react-table__paginate-page-nav{
    padding: 0 10px;
    flex: 1;
}
.bear-react-table__paginate-page-picker select{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.bear-react-table__paginate-page-picker:disabled select{
    pointer-events: none;
}
.bear-react-table__paginate-page-nav:disabled{
    cursor: not-allowed;
    opacity: .7;
}
.bear-react-table__paginate-page-nav:first-child{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.bear-react-table__paginate-page-picker:last-child{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


@media (min-width: 768px) {
    .bear-react-table__paginate {
        grid-template-columns: auto auto 1fr;
    }
    .bear-react-table__paginate-info{
        text-align: left;
        margin-bottom: 0;
        order: initial;
    }
    .bear-react-table__paginate-info > span {
        display: inline-block;

    }
    .bear-react-table__paginate-info > span:after {
        content: ',';
    }
    .bear-react-table__paginate-limit{
        margin-bottom: 0;
    }
    .bear-react-table__paginate-page-ul{
        margin-bottom: 0;
    }
    .bear-react-table__paginate-page-picker,
    .bear-react-table__paginate-page-nav{
        width: auto;
        flex: 0 0 auto;
    }
    .bear-react-table__paginate-page-li{
        display: flex;
    }
}




/** -------------------------------
 *       RWD Cell Mode
 * ------------------------------ */
.bear-react-table__root[data-cell] table{
    display: block;
    border: none;
}
.bear-react-table__root[data-cell] thead, .bear-react-table__root[data-cell] tfoot {
    display: none;
}

.bear-react-table__root[data-cell] tbody tr {
    margin-bottom: 1rem;
    height: auto;
    background-color: inherit;
    border: none;
    display: block;
    width: 100%;
}
.bear-react-table__root[data-cell] tbody tr[data-collapse] th:empty,
.bear-react-table__root[data-cell] tbody tr[data-collapse] td:empty {
   display: none;
}
.bear-react-table__root[data-cell][data-odd-even] tbody tr[data-collapse] th:nth-of-type(odd),
.bear-react-table__root[data-cell][data-odd-even] tbody tr[data-collapse] td:nth-of-type(odd) {
   background-color: inherit;
}

.bear-react-table__root[data-cell] tbody th,
.bear-react-table__root[data-cell] tbody td {
    background-color: var(--tr-bg-color);
}
.bear-react-table__root[data-cell][data-odd-even] tbody th[data-nth-type="even"],
.bear-react-table__root[data-cell][data-odd-even] tbody td[data-nth-type="even"] {
    background-color: var(--tr-even-bg-color);
}

/* value */
.bear-react-table__root[data-cell] tbody th,
.bear-react-table__root[data-cell] tbody td {
    display: flex;
    text-align: right;
    margin-left: auto;
    height: var(--cell-line-height, 35px);
    border-bottom: .01rem solid var(--cell-border-color);
    border-right: none;
    width: 100%;
    padding: 2px;
}

/* value */
.bear-react-table__root[data-cell] tbody th:empty,
.bear-react-table__root[data-cell] tbody td:empty {
    display: none;
}

/* title */
.bear-react-table__root[data-cell] tbody th:before,
.bear-react-table__root[data-cell] tbody td:before {
    text-align: left;
    margin-right: auto;

    content: attr(aria-label);
    font-weight: bold;
}
