@import "./Paginate/paginate";


.root,
.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.footer-container {
    width: 100%;
    box-sizing: border-box;
}
.root {
    --line-height: 50px;

    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;


    table{
        color: var(--text-color);
        background-color: var(--bg-color);
        border-radius: var(--border-radius);
        overflow: hidden;
        font-size: 13px;
        text-align: left;

        min-width: 0;
        position: relative;
        width: 100%;
        padding: 0;

        //border-collapse: collapse;
        //display: grid;
        //grid-template-columns: var(--grid-template);
        //grid-template-rows: 1fr;

    }



}





@media print{
    .root table {
        border-radius: 0;
        border: none;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }
}




/** -------------------------------
 *             Reset
 * ------------------------------ */
.root {
    table {
        thead, tbody, tfoot {
            display: contents;
        }
        tr{
            display: grid;
            grid-template-columns: var(--grid-template);
            grid-template-rows: 1fr;
        }
    }
}



/** -------------------------------
 *             Common
 * ------------------------------ */
.root table{

    thead th,
    tfoot td,
    tbody td{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        color: var(--text-color);
        font-size: 14px;


        padding: 0 var(--grid-gap);
        grid-column: auto / span var(--grid-column-span);

        //background-color: var(--bg-color);

        &[data-align="left"]{
            justify-content: flex-start;
            text-align: left;
        }
        &[data-align="center"]{
            justify-content: center;
            text-align: center;
        }
        &[data-align="right"]{
            justify-content: flex-end;
            text-align: right;
        }
        &[data-vertical="top"]{
            align-items: flex-start;
        }
        &[data-vertical="center"]{
            align-items: center;
        }
        &[data-vertical="bottom"]{
            align-items: flex-end;
        }
    }

}





/** -------------------------------
 *         Stocky Column
 * ------------------------------ */

.root table {

    th, td{
        &[data-sticky]{
            position: sticky;
            left: var(--sticky-left);
            z-index: 6!important;

            &:after{
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                transition: box-shadow 0.3s;
                content: "";
                pointer-events: none;
                box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.3);

                right: 0;
                transform: translateX(100%);
            }
        }
    }
    th{
        &[data-sticky]{
            z-index: 7!important;
        }
    }

}



/** -------------------------------
 *             Header
 * ------------------------------ */
.root table {
    thead {
        th{
            position: var(--header-position);
            top: var(--header-top, 0);
            z-index: var(--stick-z-index, 5);

            height: var(--header-line-height, var(--line-height));

            &[data-sort]{
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 5px;

                .sort-column{
                    display: flex;
                }
            }

            &[aria-sort="ascending"] .sort-column:before,
            &[aria-sort="descending"] .sort-column:after{
                opacity: 1;
                color: var(--sort-column);
            }
        }
    }

}


.sort-column{
    display: none;
    flex-direction: column;
    opacity: .525;
    line-height: 9px;
    font-size: 12px;

    &:before{
        opacity: .5;
        content: '▲';
        margin-bottom: -5px;
    }

    &:after{
        opacity: .5;
        content: '▼';
    }
}


/** -------------------------------
 *             Body
 * ------------------------------ */
.root table {
    tbody{
        margin: 0;

        tr{
            // 收合展開
            &[role="button"]{
                cursor: pointer;
            }
            &[data-dragging]{
                z-index: 1;
                position: relative;
            }

            td{
                //background-color: var(--tr-bg-color);
                height: var(--body-line-height, var(--line-height));
                font-weight: normal;
            }
        }


        &[data-loading] td,
        &[data-no-data] td{
            align-items: center;
            justify-content: center;
            min-height: 105px;
        }
    }
}










/** -------------------------------
 *             Footer
 * ------------------------------ */
.root table tfoot {
    td{
        height: var(--footer-line-height, var(--line-height));
    }
}



/** -------------------------------
 *       RWD Cell Mode
 * ------------------------------ */
.root[data-mode="cell"] table{
    display: block;
    border: none;

    thead,
    tfoot {
        display: none;
    }

    tbody {
        tr {
            margin-top: 1rem;
            height: auto;
            background-color: inherit;
            border: none;
            display: block;
            width: 100%;

            &:first-child{
                margin-top: 0;
            }

            &[data-collapse]{

                td:last-child{
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }


            &.cellDetailTr{
                margin-top: 0;
                display: flex;

                &:last-child{
                    display: none;
                }

                td:first-child{
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                td:last-child{
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        td {
            background-color: var(--tr-bg-color);
            display: flex;
            text-align: right;
            margin-left: auto;
            height: var(--cell-line-height, auto);
            width: 100%;
            padding: 0;


            &:empty {
                display: none;
            }


            .cellTd {

                &:nth-child(1) {
                    text-align: left;
                    margin-right: auto;

                    content: attr(aria-label);
                    font-weight: bold;
                }

                flex: 1;
                padding: var(--grid-gap);
            }


        }
    }

    &[data-odd-even]{
        tbody{
            td {
                &[data-nth-type="even"] {
                    background-color: var(--tr-even-bg-color);
                }

            }
        }
    }
}




/** -------------------------------
 *             Other
 * ------------------------------ */

.dragHandle{
    &:hover{
        cursor: grab;
    }

    &[data-dragging]{
        cursor: grabbing;
    }

}


.root[data-fetching]{
    .loading-mask-wrapper{
        opacity: 1;
        pointer-events: auto;
    }
}

.loading-mask-wrapper{
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--mask-bgcolor);
    transition: opacity .2s;
    opacity: 0;
    z-index: 5;
    font-size: 15px;
    color: var(--text-color);

}

.not-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 65px;
}

.not-data-desc{
    font-size: 14px;
    color: var(--text-color);
}

.not-data-title{
    font-size: 20px;
    color: var(--text-color);
}

