.bear-react-table__root,
.bear-react-table__root *,
.bear-react-table__root *::before,
.bear-react-table__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.bear-react-table__root{
    --row-margin: -5px;
    --col-padding: 5px;
    --body-li-height: 57px;
    --header-li-height: 37px;



    --bg-color: #fff;
    --text-color: #000;
    --header-text-color: #8d8c8c;
    --header-text-active-color: #000;
    --disabled-bg-color: #d3d3d3;
    --disabled-text-color: #6e6e6e;
    --border-color: #343a40;
    --item-li-text-color: #9aa0ac;
    --item-li-hover-text-color: #eaeaea;
    --item-li-hover-bg-color: #9b9b9b;
    --item-li-border-color: #585858;
    --item-li-bg-2n-color: rgba(255,255,255,.9);

    --footer-info-text-color: #9aa0ac;
    --footer-text-color: #000;
    --footer-bg-color: #fff;
    --footer-li-hover-bg-color: #d0d2d5;
    --footer-li-hover-border-color: #b8bcbf;

    --footer-li-active-color: #55a9ff;
    --footer-li-active-text-color: #fff;
    --footer-li-active-border-color: #007bff;
}

.bear-react-table__root.dark-theme {
    --bg-color: #2b3035;
    --text-color: #7d8490;
    --header-text-color: #9aa0ac;
    --header-text-active-color: #fff;
    --disabled-bg-color: #232323;
    --disabled-text-color: #6e6e6e;
    --border-color: #343a40;
    --item-li-text-color: #9aa0ac;
    --item-li-hover-text-color: #eaeaea;
    --item-li-hover-bg-color: #1f1f1f;
    --item-li-border-color: #585858;
    --item-li-bg-2n-color: rgba(0,0,0,.04);

    --footer-info-text-color: #9aa0ac;
    --footer-text-color: #9aa0ac;
    --footer-bg-color: #495057;
    --footer-li-hover-bg-color: #d0d2d5;
    --footer-li-hover-border-color: #b8bcbf;

    --footer-li-active-color: #007bff;
    --footer-li-active-text-color: #fff;
    --footer-li-active-border-color: #007bff;
}




.bear-react-table__root {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.bear-react-table__container {
    min-width: 0;


    /*border: 1px solid var(--border-color);*/
    /*background: var(--bg-color);*/
    color: var(--text-color);
    position: relative;
    width: 100%;
}

@media print{
    .bear-react-table__container {
        border-radius: 0;
        border: none;
        background: #fff;
        padding: 0;
        margin-bottom: 0;
    }
}



/* ========= reset start ============*/
.bear-react-table-header__sort-button,
.bear-react-table-footer__paginate-li {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
    border: none;
    overflow: visible;
    text-transform: none;
    border-radius: 0;
}
.bear-react-table-header__sort-button:focus,
.bear-react-table-footer__paginate-li:focus{
    outline: none;
}

.bear-react-table-header__sort-button,
.bear-react-table-header__sort-button [type="button"]
.bear-react-table-footer__paginate-li,
.bear-react-table-footer__paginate-li [type="button"]
{
    -webkit-appearance: button;
}
.bear-react-table-header__sort-button:not(:disabled),
.bear-react-table-header__sort-button [type="button"]:not(:disabled),
.bear-react-table-footer__paginate-li:not(:disabled),
.bear-react-table-footer__paginate-li [type="button"]:not(:disabled)
{
    cursor: pointer;
}
.bear-react-table-header__sort-button::-moz-focus-inner,
.bear-react-table-header__sort-button [type="button"]::-moz-focus-inner
.bear-react-table-footer__paginate-li::-moz-focus-inner,
.bear-react-table-footer__paginate-li [type="button"]::-moz-focus-inner{
    padding: 0;
    border-style: none;
}
.bear-react-table__icon {overflow: hidden;vertical-align: middle;}
/* ========= reset end ============*/


.bear-react-table__content {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.bear-react-table__loading-box {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 44, 49, .9);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.bear-react-table__loading-box{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 44, 49, .9);
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.bear-react-table__loading-box[data-visible=true]{
    opacity: 1;
    pointer-events: unset;
}

.bear-react-table__loading-position{
    position: absolute;
    top: 150px;
    z-index: 3;
}
.bear-react-table__loading-text{
    text-align: center;

}
.bear-react-table__loading-images{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}



.bear-react-table__not-data-desc{
    font-size: 14px;
    color: var(--text-color);
}


.bear-react-table__not-data-text{
    font-size: 20px;
    color: var(--text-color);
}

.bear-react-table__not-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
}
.bear-react-table__not-data svg{
    height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.bear-react-table__item-ul{
    padding: 0 var(--col-padding);
    margin: 0;
    list-style-type: none;
}

.bear-react-table__item-li{
    height: var(--header-li-height);
}

.bear-react-table__item-li,
.bear-react-table-body__item-li{
    list-style: none;
    color: var(--item-li-text-color);
    font-size: 14px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid var(--item-li-border-color);

    padding: 0 var(--col-padding);
    margin: 0 var(--row-margin);
}

.bear-react-table__item-column{
    /*user-select: none;*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    font-size: 14px;
    flex-wrap: nowrap;

    word-break: break-word;
    transition: color .1s;

    padding: 0 var(--col-padding);
}

.bear-react-table__item-column[data-align="left"]{
    justify-content: flex-start;
}

.bear-react-table__item-column[data-align="center"]{
    justify-content: center;

}
.bear-react-table__item-column[data-align="right"]{
    justify-content: flex-end;

}
.bear-react-table__item-column[data-vertical="top"]{
    align-items: flex-start;
}
.bear-react-table__item-column[data-vertical="center"]{
    align-items: center;
}
.bear-react-table__item-column[data-vertical="bottom"]{
    align-items: flex-end;
}
.bear-react-table__item-column[data-col]{

}
