@import "../common.scss";

/** -------------------------------
 *             Paginate
 * ------------------------------ */

.root,
.root *,
.root *::before,
.root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.root {
    @extend %light-theme;
}

.root.dark-theme {
    @extend %dark-theme;
}



.root{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 1.2rem;
}
.info{
    text-align: center;
    margin-bottom: 10px;
    order: 3;
    white-space:nowrap;
}

.limit{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: auto;
    height: 35px;
    padding: 6px 8px;
    font-size: 14px;
    color: var(--text-color);
    background: var(--bg-color);
}
.limit:focus {
    outline: 0;
    box-shadow: none;
}


.page-ul{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
}
.page-li,
.page-picker,
.page-nav{
    border-radius: 0;
    outline: none;
    -webkit-appearance: button;


    flex: 0 0 35px;
    height: 35px;
    width: 35px;
    padding: 0;
    font-size: 12px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--page-text-color);
    background-color: var(--page-bg-color);
    border: none;
}
.page-nav {
    min-width: auto;
    width: 100%;
    white-space: nowrap;
}
.page-li{
    display: none;
}
.page-li:not(:disabled):hover,
.page-picker:not(:disabled):hover,
.page-nav:not(:disabled):hover{
    color: var(--text-contrast-color);
    background-color: var(--page-bg-hover-color);
    border: none;
}
.page-li:focus,
.page-nav:focus{
    outline: none;
}

.page-li[data-active]{
    color: var(--primary-contrast-color, var(--default-primary-contrast-color));
    background-color: var(--primary-color, var(--default-primary-color));
}

.page-picker{
    color: #bdbdbd;
}
.page-picker,
.page-nav{
    padding: 0 10px;
    flex: 1;
}
.page-picker select{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.page-picker:disabled select{
    pointer-events: none;
}
.page-nav:disabled{
    cursor: not-allowed;
    opacity: .7;
}
.page-nav:first-child{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.page-picker:last-child{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


@media (min-width: 768px) {
    .paginate {
        grid-template-columns: auto auto 1fr;
    }
    .info{
        text-align: left;
        margin-bottom: 0;
        order: initial;
    }
    .info > span {
        display: inline-block;

    }
    .info > span:after {
        content: ',';
    }
    .limit{
        margin-bottom: 0;
    }
    .page-ul{
        margin-bottom: 0;
    }
    .page-picker,
    .page-nav{
        width: auto;
        flex: 0 0 auto;
    }
    .page-li{
        display: flex;
    }
}


